.button:hover{
    -fx-text-fill: cornflowerblue;
}

.click:hover {
    -fx-background-color: linear-gradient(to right, #ae3232,#fdbb2d);
    -fx-text-fill: white;
}

.inputField {
    -fx-background-color: #f2f2df;
    -fx-background-blend-mode: color-burn;
}



